<div class="center-container">

  <h2 class="text-label">Ask a question</h2>

  <form action="answer">
    <input type="text" name="question" placeholder="Type your question and press enter" class="text-input">
<!--    <input type="submit" value="Ask!">-->
  </form>
</div>